@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Black Ops One", cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 1rem;
}

.logo {
  width: 150px;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

nav ul li {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

nav ul li :hover {
  color: red;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li:last-child a {
  background-color: red;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

nav ul li:last-child a:hover {
  background-color: black;
}

.active {
  color: red;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: url("./media/bg.png") no-repeat center/cover;
}

.hero h1 {
  font-size: 50px;
  color: white;
}

.hero p {
  font-size: 20px;
  color: white;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
}

.hero button:hover {
  background-color: darkred;
}

.hero button a {
  text-decoration: none;
  color: white;
}

.video-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid black;
  padding: 50px;
  gap: 40px;
}

.video-box video {
  width: 100%;
  border-radius: 20px;
}
